<h1>Progress</h1>

<h2>List of Workouts</h2>
<ul>
  <% @progress.workouts.each do |workout| %>
    <li><%= workout.duration %></li>
    <!-- Display other workout details as needed -->
  <% end %>
</ul>

<%= link_to "Create New Workout", new_progress_workout_path(@progress) %>

